*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 35px;
    font-family: 'Segoe UI';
    font-weight: bold;
}

body{
    text-align: center;
    
}

a{
    text-decoration: none;
    color: black;
}


header{
    display: flex;
    height: 70px;
    background-color: white;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    padding: 10px;

}

.logo {
    display: flex;
    align-items: center;

}

.logo-img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color:#f5bbd8;
}

.container{
    height: auto;
    width: auto;
    max-width: ;
    margin: auto;
    padding: 20px 10px;

    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 20px;
}

.cardstocados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
      
}

.card {
    border-radius: 10px;
	padding: 5px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

    height: auto;
    width: auto;
    
    
}

.columna{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

}

h2{
    color:aliceblue;
}

.model{
    border-radius: 10px;
	padding: 20px;
	background-size: cover;
	background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;

    
    
}

.banner {
    border-radius: 10px;
	text-align:center;
	padding: 20px;
	background-size:cover;
	background-position:center center;

    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;

}


.banner ul{
    list-style: none;
        
}

.banner ul li{
    display: flex;
    margin: 5px;
	font-weight: bold;
    align-items: center;
    justify-content: center;
}

.banner .boton {
	background: #e9b8b0;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.text{
    font-size: 15px;
    color:rgb(0, 0, 0);
    font-weight: bold;
	text-align: center;
	padding: 10px;
	border: none;
    
}

.pie{
    padding: 20px;
    background-color: #d1ccc0;

}

@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 700px) {
	
}

@media screen and (max-width: 600px) {

}